<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskly</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body style="margin: 0;">
    <div class="header">
        <h2 class="heading">Taskly</h2>
        <div style="color: #4C3D3D; cursor: pointer;margin-left:auto; margin-right: 10px;"><a>About</a></div>
        <div style="color: #4C3D3D; cursor: pointer; margin-right: 10px;"><a >Login/Sign-Up</a></div>
    </div>
  
    
